.bg-gradient{
    background-color: #E5E5E5 !important;
    color: #3C4858 !important;
}
.card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 6px;
    color: rgba(0,0,0, 0.87);
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.card-contact .header {
    margin-top: -20px;
}
.card [class*="header-"], .card [class*="content-"] {
    color: #FFFFFF;
}
.card .header-primary {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.12), 0 13px 24px -11px rgba(0, 0, 0, 0.2);
}
.card .header-primary, .card .content-primary {

    background-image: linear-gradient(60deg, #48c6ef 0%, #6f86d6 100%);
}
.header-raised {
    position: relative !important;
    z-index: 1 !important;
    margin: -15px 0 !important;

}
.hh.header-raised{
    width: 85.333333%;
    margin-left: auto !important;
    margin-right: auto !important;
}
.card .header {
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin: 5px;
    border-radius: 3px;
    padding: 3px ;
    background-color: #FFFFFF;
}
.card .card-content {
    padding: 15px 30px;
}
/*******NOOK********/
.nook{
    font-family: Nook, 'sans-serif';
}
@media screen and (max-width: 425px){
    .container{
        display: block !important;
    }
}
